<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <PC-304>
    <CleanUp>False</CleanUp>
    <BaseURL>
    </BaseURL>
    <CompareHash>True</CompareHash>
    <AddExtension>
    </AddExtension>
    <CompareSize>False</CompareSize>
    <FeedXML>C:\!Work\ACS_CARGO\UpdateStorage\OSCAR\Release\Nau.xml</FeedXML>
    <CompareVersion>True</CompareVersion>
    <IgnoreVsHosting>True</IgnoreVsHosting>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" /&gt;</IgnoreFiles>
    <IgnoreDebugSymbols>True</IgnoreDebugSymbols>
    <OutputFolder>C:\!Work\ACS_CARGO\UpdateStorage\OSCAR\Release</OutputFolder>
    <CopyFiles>False</CopyFiles>
    <CompareDate>False</CompareDate>
  </PC-304>
</Settings>